.CardLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .CardLayout {
    display: flex;
    flex-direction: column;
  }
}
