.CardLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .CardLayout {
    display: flex;
    flex-direction: column;
  }
}
